.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login img{
    margin: 30px auto;
    object-fit: contain;
    width: 100px;
}

.login_container{
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
}

.login_container h1{
    font-size: 20px;
    margin: 20px 0;
}

.login_container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login_container form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login_container form input{
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: white;
    width: 100%;
    border: none;
    border: 1px solid gray;
    border-radius: 3px;
}

.login_container form input:focus{
    outline: 2px solid skyblue;
}

.login_signinBtn{
    border: none;
    background-color: #f0c14b;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin-top: 10px;

}
.login_signinBtn:hover{
    background-color:var(--primary-shade);
}   

.login_container p{
    padding: 10px 0;
    font-size: 14px;
}
.login_registerBtn{
    border: none;
    background-color:rgb(238, 234, 234);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.login_registerBtn:hover{
    background-color: lightgray;
}